svg .svg-elem-1 {
  stroke-dashoffset: 2990.4765625px;
  stroke-dasharray: 2990.4765625px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg .svg-elem-2 {
  stroke-dashoffset: 2990.47705078125px;
  stroke-dasharray: 2990.47705078125px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

svg .svg-elem-3 {
  stroke-dashoffset: 3103.400390625px;
  stroke-dasharray: 3103.400390625px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

svg .svg-elem-4 {
  stroke-dashoffset: 4376.580078125px;
  stroke-dasharray: 4376.580078125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(114, 101, 20);
}

svg .svg-elem-5 {
  stroke-dashoffset: 1329.3897705078125px;
  stroke-dasharray: 1329.3897705078125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: rgb(182, 114, 22);
}

svg .svg-elem-6 {
  stroke-dashoffset: 1276.2862548828125px;
  stroke-dasharray: 1276.2862548828125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg.active .svg-elem-6 {
  stroke-dashoffset: 0;
  fill: rgb(182, 114, 22);
}

svg .svg-elem-7 {
  stroke-dashoffset: 1259.70458984375px;
  stroke-dasharray: 1259.70458984375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg.active .svg-elem-7 {
  stroke-dashoffset: 0;
  fill: rgb(182, 114, 22);
}

svg .svg-elem-8 {
  stroke-dashoffset: 1345.8424072265625px;
  stroke-dasharray: 1345.8424072265625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg.active .svg-elem-8 {
  stroke-dashoffset: 0;
  fill: rgb(182, 114, 22);
}

svg .svg-elem-9 {
  stroke-dashoffset: 1561.2437744140625px;
  stroke-dasharray: 1561.2437744140625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg.active .svg-elem-9 {
  stroke-dashoffset: 0;
  fill: rgb(182, 114, 22);
}

svg .svg-elem-10 {
  stroke-dashoffset: 2990.4765625px;
  stroke-dasharray: 2990.4765625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}

svg.active .svg-elem-10 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-11 {
  stroke-dashoffset: 3103.400390625px;
  stroke-dasharray: 3103.400390625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
}

svg.active .svg-elem-11 {
  stroke-dashoffset: 0;
  fill: rgb(9, 63, 62);
}

svg .svg-elem-12 {
  stroke-dashoffset: 3339.1435546875px;
  stroke-dasharray: 3339.1435546875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
}

svg.active .svg-elem-12 {
  stroke-dashoffset: 0;
  fill: url("#linear-gradient");
}

svg .svg-elem-13 {
  stroke-dashoffset: 671.3795776367188px;
  stroke-dasharray: 671.3795776367188px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

svg.active .svg-elem-13 {
  stroke-dashoffset: 0;
  fill: url("#linear-gradient-2");
}

svg .svg-elem-14 {
  stroke-dashoffset: 1863.5478515625px;
  stroke-dasharray: 1863.5478515625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
}

svg.active .svg-elem-14 {
  stroke-dashoffset: 0;
  fill: rgb(83, 1, 34);
}

svg .svg-elem-15 {
  stroke-dashoffset: 902.449951171875px;
  stroke-dasharray: 902.449951171875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
}

svg.active .svg-elem-15 {
  stroke-dashoffset: 0;
  fill: rgb(83, 1, 34);
}

svg .svg-elem-16 {
  stroke-dashoffset: 1379.2965087890625px;
  stroke-dasharray: 1379.2965087890625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
}

svg.active .svg-elem-16 {
  stroke-dashoffset: 0;
  fill: rgb(83, 1, 34);
}

svg .svg-elem-17 {
  stroke-dashoffset: 1211.8450927734375px;
  stroke-dasharray: 1211.8450927734375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
}

svg.active .svg-elem-17 {
  stroke-dashoffset: 0;
  fill: rgb(83, 1, 34);
}

svg .svg-elem-18 {
  stroke-dashoffset: 1873.0859375px;
  stroke-dasharray: 1873.0859375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
}

svg.active .svg-elem-18 {
  stroke-dashoffset: 0;
  fill: rgb(83, 1, 34);
}

svg .svg-elem-19 {
  stroke-dashoffset: 1306.161865234375px;
  stroke-dasharray: 1306.161865234375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
}

svg.active .svg-elem-19 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-20 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
}

svg.active .svg-elem-20 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-21 {
  stroke-dashoffset: 1306.161865234375px;
  stroke-dasharray: 1306.161865234375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
}

svg.active .svg-elem-21 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-22 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
}

svg.active .svg-elem-22 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-23 {
  stroke-dashoffset: 1537.941650390625px;
  stroke-dasharray: 1537.941650390625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
}

svg.active .svg-elem-23 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-24 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
}

svg.active .svg-elem-24 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-25 {
  stroke-dashoffset: 1537.941650390625px;
  stroke-dasharray: 1537.941650390625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
}

svg.active .svg-elem-25 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-26 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
}

svg.active .svg-elem-26 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-27 {
  stroke-dashoffset: 1306.16162109375px;
  stroke-dasharray: 1306.16162109375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
}

svg.active .svg-elem-27 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-28 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
}

svg.active .svg-elem-28 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-29 {
  stroke-dashoffset: 1306.16162109375px;
  stroke-dasharray: 1306.16162109375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
}

svg.active .svg-elem-29 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-30 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
}

svg.active .svg-elem-30 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-31 {
  stroke-dashoffset: 1306.161376953125px;
  stroke-dasharray: 1306.161376953125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8s;
}

svg.active .svg-elem-31 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-32 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9000000000000004s;
}

svg.active .svg-elem-32 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-33 {
  stroke-dashoffset: 1306.161376953125px;
  stroke-dasharray: 1306.161376953125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4s;
}

svg.active .svg-elem-33 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-34 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.1000000000000005s;
}

svg.active .svg-elem-34 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-35 {
  stroke-dashoffset: 1306.1617431640625px;
  stroke-dasharray: 1306.1617431640625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.08s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s;
}

svg.active .svg-elem-35 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-36 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.3s;
}

svg.active .svg-elem-36 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-37 {
  stroke-dashoffset: 1306.1617431640625px;
  stroke-dasharray: 1306.1617431640625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.32s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4s;
}

svg.active .svg-elem-37 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-38 {
  stroke-dashoffset: 613.1654348293583px;
  stroke-dasharray: 613.1654348293583px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4399999999999995s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s;
}

svg.active .svg-elem-38 {
  stroke-dashoffset: 0;
  fill: rgb(150, 43, 10);
}

svg .svg-elem-39 {
  stroke-dashoffset: 2631.46826171875px;
  stroke-dasharray: 2631.46826171875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.56s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.6000000000000005s;
}

svg.active .svg-elem-39 {
  stroke-dashoffset: 0;
}

svg .svg-elem-40 {
  stroke-dashoffset: 2745.3643688207508px;
  stroke-dasharray: 2745.3643688207508px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.68s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.7s;
}

svg.active .svg-elem-40 {
  stroke-dashoffset: 0;
}

svg .svg-elem-41 {
  stroke-dashoffset: 402.2552795410156px;
  stroke-dasharray: 402.2552795410156px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s;
}

svg.active .svg-elem-41 {
  stroke-dashoffset: 0;
}

svg .svg-elem-42 {
  stroke-dashoffset: 402.250732421875px;
  stroke-dasharray: 402.250732421875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.92s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.9s;
}

svg.active .svg-elem-42 {
  stroke-dashoffset: 0;
}

svg .svg-elem-43 {
  stroke-dashoffset: 402.25030517578125px;
  stroke-dasharray: 402.25030517578125px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.04s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s;
}

svg.active .svg-elem-43 {
  stroke-dashoffset: 0;
}

svg .svg-elem-44 {
  stroke-dashoffset: 402.2572937011719px;
  stroke-dasharray: 402.2572937011719px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.16s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1s;
}

svg.active .svg-elem-44 {
  stroke-dashoffset: 0;
}

svg .svg-elem-45 {
  stroke-dashoffset: 402.250732421875px;
  stroke-dasharray: 402.250732421875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.279999999999999s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s;
}

svg.active .svg-elem-45 {
  stroke-dashoffset: 0;
}

svg .svg-elem-46 {
  stroke-dashoffset: 402.2572937011719px;
  stroke-dasharray: 402.2572937011719px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3999999999999995s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3s;
}

svg.active .svg-elem-46 {
  stroke-dashoffset: 0;
}

svg .svg-elem-47 {
  stroke-dashoffset: 402.2572937011719px;
  stroke-dasharray: 402.2572937011719px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.52s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s;
}

svg.active .svg-elem-47 {
  stroke-dashoffset: 0;
}

svg .svg-elem-48 {
  stroke-dashoffset: 402.250732421875px;
  stroke-dasharray: 402.250732421875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.64s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s;
}

svg.active .svg-elem-48 {
  stroke-dashoffset: 0;
}

svg .svg-elem-49 {
  stroke-dashoffset: 402.25732421875px;
  stroke-dasharray: 402.25732421875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.76s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6000000000000005s;
}

svg.active .svg-elem-49 {
  stroke-dashoffset: 0;
}

svg .svg-elem-50 {
  stroke-dashoffset: 402.25732421875px;
  stroke-dasharray: 402.25732421875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.88s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s;
}

svg.active .svg-elem-50 {
  stroke-dashoffset: 0;
}

svg .svg-elem-51 {
  stroke-dashoffset: 402.250732421875px;
  stroke-dasharray: 402.250732421875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.8s;
}

svg.active .svg-elem-51 {
  stroke-dashoffset: 0;
}

svg .svg-elem-52 {
  stroke-dashoffset: 402.2476501464844px;
  stroke-dasharray: 402.2476501464844px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.9s;
}

svg.active .svg-elem-52 {
  stroke-dashoffset: 0;
}

svg .svg-elem-53 {
  stroke-dashoffset: 838.8599853515625px;
  stroke-dasharray: 838.8599853515625px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6s;
}

svg.active .svg-elem-53 {
  stroke-dashoffset: 0;
}

svg .svg-elem-54 {
  stroke-dashoffset: 1675.72998046875px;
  stroke-dasharray: 1675.72998046875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.359999999999999s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.1000000000000005s;
}

svg.active .svg-elem-54 {
  stroke-dashoffset: 0;
}

svg .svg-elem-55 {
  stroke-dashoffset: 5353.57080078125px;
  stroke-dasharray: 5353.57080078125px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.4799999999999995s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.2s;
}

svg.active .svg-elem-55 {
  stroke-dashoffset: 0;
}

svg .svg-elem-56 {
  stroke-dashoffset: 1293.5302734375px;
  stroke-dasharray: 1293.5302734375px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.3s;
}

svg.active .svg-elem-56 {
  stroke-dashoffset: 0;
}

svg .svg-elem-57 {
  stroke-dashoffset: 1293.5302734375px;
  stroke-dasharray: 1293.5302734375px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.4s;
}

svg.active .svg-elem-57 {
  stroke-dashoffset: 0;
}

svg .svg-elem-58 {
  stroke-dashoffset: 3339.1435546875px;
  stroke-dasharray: 3339.1435546875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.5s;
}

svg.active .svg-elem-58 {
  stroke-dashoffset: 0;
}

svg .svg-elem-59 {
  stroke-dashoffset: 4376.580078125px;
  stroke-dasharray: 4376.580078125px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.6000000000000005s;
}

svg.active .svg-elem-59 {
  stroke-dashoffset: 0;
}

svg .svg-elem-60 {
  stroke-dashoffset: 671.3795776367188px;
  stroke-dasharray: 671.3795776367188px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 7.08s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.7s;
}

svg.active .svg-elem-60 {
  stroke-dashoffset: 0;
}

svg .svg-elem-61 {
  stroke-dashoffset: 1962.6854248046875px;
  stroke-dasharray: 1962.6854248046875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 7.199999999999999s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.8s;
}

svg.active .svg-elem-61 {
  stroke-dashoffset: 0;
}

svg .svg-elem-62 {
  stroke-dashoffset: 1962.685302734375px;
  stroke-dasharray: 1962.685302734375px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 7.319999999999999s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.9s;
}

svg.active .svg-elem-62 {
  stroke-dashoffset: 0;
}

svg .svg-elem-63 {
  stroke-dashoffset: 1962.6866455078125px;
  stroke-dasharray: 1962.6866455078125px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 7.4399999999999995s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 7s;
}

svg.active .svg-elem-63 {
  stroke-dashoffset: 0;
}

svg .svg-elem-64 {
  stroke-dashoffset: 1962.6864013671875px;
  stroke-dasharray: 1962.6864013671875px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 7.56s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 7.1000000000000005s;
}

svg.active .svg-elem-64 {
  stroke-dashoffset: 0;
}
